h1 {
    color: rgba(8, 216, 35, 0.89);
    font-size: 25px;
    margin-bottom: 20px;
}

.button {
    background-color: transparent;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    box-shadow: none;
    cursor: pointer;
    display: flex;
    margin: 10px 10px;
    padding: 12px 30px 10px 30px;
    border-radius: 1px;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: rgb(247, 245, 245);
    background: #0b1bf8c4;
    transition: 0.3s;
}